<script>var cityId=<%= @city.id %></script>
<div id="admin">
	<button id="delete_pictures">delete pictures</button>
	<p><%= @city.name %></p>
	<div id="cityimages">
		
		<% @city.images.each do |image| %>
		<img src="<%= image.medium_image_url %>" id="<%= image.id %>">
		<% end %>
	</div>
</div>