<h2>Signup</h2>
<%= form_tag(user_signup_path, method: "post", remote: true, :id => "signup") do %>
  <%= email_field_tag(:email, nil, placeholder:'Email') %>
  <%= password_field_tag(:password, nil, placeholder:'Password') %>
  <%= submit_tag('Sign up') %>
<% end %>
<div id="buttons">
	<a href="#" id="loginButton">Login</a>
	<a href="#" id="backButton">Back</a>
</div>