<%= render 'embark/topnav' %>

<div id="userPage">

  <div id="user_adventures">
    <% if @user %>
        <% @user.adventures.each do |adventure| %>
          <div class ="adventure">
            <a href="/adventures/<%= adventure.id %>">
              <div id="adventure_name"><%= adventure.name %></div></a>
            <div id="adventure_description"><%= adventure.description %></div>
          </div>
        <%end%>
    <% else %>
    	<h3>You haven't favorited any adventures yet! Go forth and<div id='beInspired'><a href="/">BE INSPIRED!</a></div>
    	</h3>
    <%end%>
  </div>

<div id="addAdventure">
  <input name="addAdventure" value='Add Adventure'>
</div>

	<div id="adventureForm"></div>

</div>