<link rel="stylesheet" type="text/css" media="all" href="http://cobblehilldigital.com/wp-content/themes/cobblehill/css/mytheme.css">

<script type="text/javascript" src="http://cobblehilldigital.com/wp-content/themes/cobblehill/js/mytheme.js"></script>

<div id="header" class="scrolled">
  <div class="mid-cont">
    <a class="embark" href="/">EMBARK</a>
    <div class="hamburger"></div>
</div>
</div>



<div id="nav">
  <div class="mid-cont">
    <div class="close"></div>
    <div class="menu-main-nav-container">
      <ul id="menu-main-nav">
        <li>
          <a href="http://embarkinspire.tumblr.com/">Our Story<span class="sub">A glimpse into our team process</span></a>
        </li>
        <li>
          <a href="https://github.com/cicadas-2014/Embark">GitHub<span class="sub">Fixing everyhting the third time around</span></a>
        </li>
        <li>
          <a href="http://api.gadventures.com/">Featured API<span class="sub">Our finest collaborator</span></a>
        </li>
        <li>
          <a href="https://mail.google.com/">Contact<span class="sub">We want to hear from you</span></a>
        </li>
        <li>
          <a href="login" id="login">Login<span class="sub">Log in and be able to favorite and save adventures!</span></a>
        </li>
      </ul>
    </div>     
  </div>
</div>