<div id="adventurePage">
  <p id="tagline">Choose your own adventure</p>
  <div id="compassIcon">`</div>
  <div id="gallery">
    <%@adventures.each do |adv|%>
    <a class="image" href="/adventures/<%=adv.id%>"><img src=<%=adv.image_url%> alt=""></a>
    <%end%>
  </div>
</div>