<div id="embark">
  embark
</div>

<div class='filters'>
<form method=post id='test'>
  <select name='test' onchange="this.up('form').id = this.value;">
    <option value=1>Category</option>
    <%@categories.each do |cat|%>
      <option value=1><%=cat%></option>
    <%end%>
  </select>
</form>
<form method=post id='test'>
  <select name='test' onchange="this.up('form').id = this.value;">
    <option value=1>Duration</option>
    <%@durations.each do |cat|%>
      <option value=1><%=cat%></option>
    <%end%>
  </select>
</form>

</div>

<section class="module">
  <section class="wraper"> 
    <%@photos.each do |photo|%>
      <figure class='small'>
          <a href="">
            <img src=<%=photo%> alt="">
          </a>
          <figcaption class="transition-050 opacity85">
            <a href="">
              <strong class="text transition-050 title">Adventure</strong>
              <span class="text transition-050 desc">Cool Stuff</span>
            </a>
          </figcaption>
      </figure>
    <%end%>
  </section>
</section>

