<div id='descridivtion_title'><p>embark</p></div>

<ul id="gallery">
<li><img src="<%= @adventure.image_url %>" alt="#1" title="#1" /></li>
<% images = [] %>
<% 5.times do %>
<% images << @adventure.images.first if @adventure.images %>
<% end %>
<% p images %>
<% images.each do |image| %>
	<li><img src="<%= image.url %>"/></li> 
<% end %>

</ul>

<div id='description'>
	<header>Description</header>
	<p><%= @adventure.description %></p>
</div>


<div id='adventure_map'><img src="<%= @adventure.map_url %>"></div>	
