<div id='descridivtion_title'><p>embark</p></div>

<ul id="gallery">
<li><a><img src="<%= @adventure.image_url %>" alt="#1" title="#1" /></a></li>

<% @adventure.images[0..4].each do |image| %>
	<li><a><img src="<%= image.url %>"/></a></li> 
<% end %>

</ul>

<div id='description'>
	<header>Description</header>
	<p><%= @adventure.description %></p>
</div>


<div id='adventure_map'><img src="<%= @adventure.map_url %>"></div>	
