
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<div class='home'>
<div id="logo">
<p> Embark </p>
</div>



<div id="search">
<%= link_to "Local", adventures_path(search: "local"), class: "pure-button  pure-button-primary" %>
<br>
<%= link_to "Continential", adventures_path(search: "continential"), class: "pure-button  pure-button-primary" %>
<br>
<%= link_to "Global", adventures_path(search: "global"), class: "pure-button  pure-button-primary" %>
</div>

</div>
<div id="background">
	<%= image_tag('https://m1.behance.net/rendition/modules/82977983/disp/9458de8774adbcf5d6c33b40547f7198.gif') %>
</div>
<!-- 

http://i.minus.com/ibhwZcRDlyU6LG.gif

https://33.media.tumblr.com/tumblr_mdrhz2tF6V1rx3zgvo1_500.gif

https://38.media.tumblr.com/8c705e4db18ceb46dfb490e2d92b7f01/tumblr_metqzaf9P81rqvdkoo1_500.gif

https://38.media.tumblr.com/8c705e4db18ceb46dfb490e2d92b7f01/tumblr_metqzaf9P81rqvdkoo1_500.gif

https://38.media.tumblr.com/aa3fd96291a9db9783c6c579d2451c13/tumblr_mmrfzs9NYu1r7lsfao1_500.gif

https://38.media.tumblr.com/8926bab9bd9d656ee94f62defd1b49d2/tumblr_mm84kaLOBg1qzw54io1_500.gif

https://38.media.tumblr.com/88c231cbf9ffa0958c7418bebf9ef556/tumblr_merqmfdDpG1rjzv9zo1_500.gif

https://m1.behance.net/rendition/modules/82977983/disp/9458de8774adbcf5d6c33b40547f7198.gif

https://31.media.tumblr.com/ef4a53ca93bc0247e5f5fcc3cbcefc0e/tumblr_ms1qdtAiVM1r7vthno1_500.gif

https://31.media.tumblr.com/473b7261cc94a5c6638af8e30bceda71/tumblr_ms9s0t2eEb1s56erbo1_500.gif -->