<div id="logo">
	<p>Cant use Geocoder to find user!!! will return 0,0 for most users aka nairobi, can still be used to test with now.</p>
	<img src="http://i.imgur.com/Xu9ndfK.png">
</div>
<div id="search">
<%= link_to "Local", adventures_path(search: "local"), class: 'button' %>
<%= link_to "Continential", adventures_path(search: "continential"), class: 'button' %>
<%= link_to "Global", adventures_path(search: "global"), class: 'button' %>
</div>
<div id='loca'></div>
<div id="background">
	<%= image_tag('http://www.designdpi.com/blog/images/blog/subtle-animated-gif-09.gif') %>
</div>

