<div class='homepage'>

<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!-- <div id="new_session">
<% if session %>
<input type="button" id="login" value="Login"/>
<input type="button" id="signup" value="Signup"/>
<% else %>
%= button_to "Logout" %>
<% end %>
</div> -->
<link rel="stylesheet" href="css/home.css.scss">

<div id="embark" href="/">
	EMBARK
</div>
	<div id='home'>
		<div id="logo">
			<p> We inspire experiences </p>
		</div>
	<div id="search">	
		<%= link_to "Local", adventures_path(search: "local"), class: 'btn' %>
		<%= link_to "Continental", adventures_path(search: "continential"), class: 'btn'%>
		<%= link_to "Global", adventures_path(search: "global"), class: 'btn' %>
   </div>



	</div>
</div>
</div>
