<div id='homepage'>
	<div class="logo bigLogo" href="/">EMBARK</div>
	<div id="tagline">We inspire experiences</div>
	<div id="search">	
		<%= link_to "Local", adventures_path(search: "local"), class: 'bigButton' %>
		<%= link_to "Continental", adventures_path(search: "continential"), class: 'bigButton'%>
		<%= link_to "Global", adventures_path(search: "global"), class: 'bigButton' %>
	</div>
	<video autoplay="true" loop="true" preload="auto">
		<source src="field.mov" type="video/mp4">
	</video>
</div>