// Place all the styles related to the del controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#del img {
	width: 250px;
	height: 250px;
	display: inline-block;
}
#del #delete_pictures {
	position: fixed;
	left: 20px;
	top: 20px;
}
#del #delete_adventure {
	position: fixed;
	background-color: red;
	right: 20px;
	top: 20px;
}
#del #header {
	display: block;
	width: 100px;
}
#del .category {
	color: white;
	display: block;
}
#del .description {
	color: white;
	display: block;
	margin-top: 70px;
}
#del #cat {
	color: white;
}
#del .description span {
	color: red;
}
#del .title {
	color:white;
}
#del .title span {
	color:red;
}
#del button {
	height: 30px;
	width: 300px;
	border: 4px #00FFFF groove;
	border-radius: 10px;
	font-size: 16px;
}