/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.75; 
  filter: alpha(opacity=85); 
}
body { 
  background-color:black; 
  color:#eee
}
.module { 
  max-width: 100%; 
  margin:auto;
  display: inline-block;
}
.module figure {
  position: relative;
  overflow: hidden;
  border:2px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.module .small {
  float: left;
  width: 32%;
  height: 300px;
  margin: 5px;
}
.module figure img {
  width: 100%;
   float: left;
  height: 100%;
}
.module figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}
.module .text {
  color: #7A8B8B;
  background-color: black;
  font-size:0.90em;
}
.module figure:hover figcaption { max-height: 100%;}
.module figure:hover figcaption .text {
  background-color: black;
  color:#fff;
}
.module figcaption a { display: block; text-decoration:none; }
.module .title {
  display: inline-block;
  padding: 5px;
  text-transform:uppercase;  
}
.module .desc {
  display: block;
  padding: 10px;
}
.bgcolor {
  background-color: #fff;
}

* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

 body {
 	background: black;
 }

 #description {
 	border: 1px solid white;
 	height: 350px;
 	float:left;
 	width: 65%;
 	color: white;
 }

 #adventure_map {
 	border: 1px solid white;
 	height: 350px;
 	float: right;
 	width: 35%;
 	color: white;
 }

#gallery {
  padding: 0; 
  margin:0 auto; 
  list-style-type:none; 
  overflow:hidden; 
  height:540px; 
  width:900px;
  background: #000 url(http://images5.alphacoders.com/293/293505.jpg);
}
#gallery li {
  float:right;
  display:block;
  }
#gallery li a {
	display:block;
  width:60px;
  height:540px; 
  }
#gallery li a img {
  height:540px; 
  width:60px; 
  border:0;
  }
#gallery li a:hover {
  background:#eee; 
  width:478px;
  }
#gallery li a:hover img {
  width:478px;
  }
.filters {
  position: absolute;
  top: 6%;
  right:3%;
}
select {
  color: #66FFFF;
  background-color: black;
  font-size: 18px;
}
