// Place all the styles related to the del controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	width: 250px;
	height: 250px;
	display: inline-block;
}
.delete_pictures

.category {
	color: white;
	display: block;
}
.description {
	color: white;
	display: block;
}
#cat {
	color: white;
}
.description span {
	color: red;
}
.title {
	color:white;
}
.title span {
	color:red;
}
button {
	height: 30px;
	width: 300px;
}
button:nth-child(3) {
	background-color: red;
}