$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c9bf;
$green:#74c994;
$textColor:rgba(116, 201, 148, 0.84);
$errorColor:red;
$black:#231f20;
$red:#c9747f;
$font:'Raleway', sans-serif;

@font-face {
    font-family: 'icon-worksregular';
    src: url('icon-works-webfont.eot');
    src: url('icon-works-webfont.eot?#iefix') format('embedded-opentype'),
         url('icon-works-webfont.woff') format('woff'),
         url('icon-works-webfont.ttf') format('truetype'),
         url('icon-works-webfont.svg#icon-worksregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#favorite_button{
  font-family: $font;
  background-color:$red;
  position: absolute;
  transition: .5s ease;
  text-align: center;
  top: 78%;
  margin-left: 40%;
}



#favorite_button:hover{
  font-family: $font;
    background-color:$fillColor;
        -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
    cursor: pointer; 
}


body{
   background-color:#231f20;
}
.pointer{
  margin-top: 100px; 
  font-family: icon-worksregular;
  font-size: 40px;
}

#inspire {
    background-color: $backgroundColor;
    top:0px;
    width: 100%;
    padding-top: 250px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    font-size: 40px;
    letter-spacing: .1em;
    color: #231f20; 
    position: relative;
    z-index: 0;
}

.information {
  background-color:#231f20; 
}

#new_session input {
  border: 2px solid $backgroundColor;
  font-family: $font;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: $backgroundColor;
  font-family: $font;
  background-color: $textColor;
}

#tagline {
    background-color: $backgroundColor;
    top:0px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    font-size: 40px;
    letter-spacing: .1em;
    color: #231f20; 
    position: relative;
    z-index: 0;
}

#spanheader {
  margin-top: 10px;
  margin-bottom: -50px;
  height: 80px;
  font-size: 30px;
  padding-top:25px;
  padding-left:30px;
  font-family: $font;
  background-color: $fillColor;
  position:relative;

}

#description {
  text-align: center;
  margin:0 auto; 
   margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: $backgroundColor;
    color: $black; 
}

#adventureDescription {
  background-color: $fillColor;
  position: relative;
  width: 100%;
}

#adventureDescription #description p {
  text-indent: 2em;
  line-height: 1.75;
  text-align: center;
  margin-top: 5%; 
  margin-left: 10%;
  margin-right: 10%;
  border: solid 2px $black;
  padding: 18% 15% 10% 10%;
  font-size: 20px;
  background-color: $backgroundColor;
  font-family: $font;
  height: 100%;
  float:left;
  width: 80%;
  color: $black;
  border-radius: 0px;
}

#adventureDescription #description header {
  font-size: 25px;
  text-align: center;
  font-family: $font;
  font-size: 40px;
  width: 100%;
  padding-top: 3%;
  line-height: 1.75;
  padding-bottom: 2%;
  color: $black;
}

div.show_images {
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 30px;
  width: 90%;
  clear: both;
  border-radius: 10px;
}

.smallimage {
  position: static;
  top:0;
  display: inline;
  max-height: 140px;
  width: auto;
  padding:auto;
  margin-top: 8px;
}

#main_image {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  margin: 0 auto;
  height:400px;   
  width: auto;

}

#main_image img{
    box-shadow: 1px 1px 10px #999;
    margin: 2px;
    max-height: 50px;
    cursor:default;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
    margin: 0 auto;
    position: static;
    max-width:2000px;
    max-height:650px;   
    width: auto;
}

.compass2 {
  width: 100px;
  height: 5px;
  text-align: center;
  font-family: 'icon-worksregular';
  font-size: 60px;
  color: #252525;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  top: 130px;
}


#images img {
  height: 230px;
  width: auto;
  padding-left: 1%;
}

#adventures_images {
  display: block;
  margin: 0 auto;
}

#favorite input{
  float: right;
  height: 100%;
  font-family: $font;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: $backgroundColor;
  text-align: center;
  font-family: $font;
  background-color: $textColor;
  margin-right:100px;
  position:absolute;
  transition: .5s ease;
  left: 1000px;
  top: 198px;
}

#favorite input:hover{
    background: $fillColor;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}

#map {
  background-color: $black;
  border: solid 2px $black;
  margin-left: 24%;
  height: 50%;
  width: 50%;
 }


@media (max-width: 1900px) {
  #main_image {
    height:400px;
  }
  
}
@media (max-width: 1500px) {
  #main_image {
    height:360px;
  }
}


@media (max-width: 1200px) {
  #main_image {
    height:320px;
  }
  }
@media (max-width: 1000px) {
  #main_image {
    height:300px;
  }
  }
  
@media (max-width: 700px) {
  #main_image {
    height:280px;
  }
 
}
@media (max-width: 600px) {
  #main_image {
    height:260px;
  }
  
}
