$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c9bf;
$textColor:rgba(116, 201, 148, 0.84);
$errorColor:red;
$font:'Raleway', sans-serif;

@font-face {
    font-family: 'icon-worksregular';
    src: url('icon-works-webfont.eot');
    src: url('icon-works-webfont.eot?#iefix') format('embedded-opentype'),
         url('icon-works-webfont.woff') format('woff'),
         url('icon-works-webfont.ttf') format('truetype'),
         url('icon-works-webfont.svg#icon-worksregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pointer{
  margin-top: 100px; 
  font-family: icon-worksregular;
  font-size: 40px;
}


#new_session input {
  border: 2px solid $backgroundColor;
  font-family: $font;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: $backgroundColor;
  font-family: $font;
  background-color: $textColor;
}

#adventureDescription #description p{
  text-indent: 2em;
  line-height: 1.75;
  margin-top: 1%;
  padding: 1% 2%;
  font-size: 20px;
  background-color: $fillColor;
  font-family: $font;
  border: 8px double $textColor;
  height: 100%;
  float:left;
  width: 58%;
  color: $backgroundColor;
  border-radius: 9px;
}

#adventureDescription #description header {
  font-size: 25px;
  text-align: center;
  font-family: $font;
  width: 100%;
  padding-top: 3%;
  line-height: 1.75;
  padding-bottom: 2%;
  color: $backgroundColor;
}

div.show_images {
  margin: 0 auto;
  padding: 0 auto;
  margin-top: 30px;
  width: 90%;
  clear: both;
  border-radius: 10px;
}

.smallimage {
  position: static;
  top:0;
  display: inline;
  max-height: 140px;
  width: auto;
  padding:auto;
  margin-top: 8px;
}


#main_image {
  margin: 0 auto;
  max-width:2000px;
  max-height:650px;   
  width: auto;
  height: auto;
}

#main_image img{
  display: block;
  margin: 0 auto;
  position: static;
  max-width:2000px;
  max-height:650px;   
  width: auto;
  height: auto;
}


#images img {
  height: 230px;
  width: auto;
  padding-left: 1%;
}

#adventures_images {
  display: block;
  margin: 0 auto;
}

#favorite input{
  float: right;
  height: 100%;
  font-family: $font;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: $backgroundColor;
  text-align: center;
  font-family: $font;
  background-color: $textColor;
  margin-right:100px;
}

#favorite input:hover{
    background: $fillColor;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}

#map {
  margin: 30px;
  height: 400px;
  width: 400px;
  // float:right;
}