$backgroundColor:#000000;
$borderColor:#eee;
$fillColor:#FFEFD5;
$textColor:#000000;
$errorColor:red;
* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.75; 
  filter: alpha(opacity=85); 
}
body { 
  background-color:$backgroundColor; 
  color:$fillColor;
}
#adventure-container { 
  max-width: 100%; 
  margin:auto;
  display: inline-block;
}
#adventure-container figure {
  position: relative;
  overflow: hidden;
  border:2px solid $fillColor;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#adventure-container .small {
  float: left;
  width: 31%;
  height: 300px;
  margin: 5px;
}
#adventure-container figure img {
  width: 100%;
  float: left;
  height: 100%;
}
#adventure-container figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}
#adventure-container .text {
  color: #7A8B8B;
  background-color: black;
  font-size:0.90em;
}
#adventure-container figure:hover figcaption { max-height: 100%;}
#adventure-container figure:hover figcaption .text {
  background-color: black;
  color:#fff;
}
#adventure-container figcaption a { display: block; text-decoration:none; }
#adventure-container .title {
  display: inline-block;
  padding: 5px;
  text-transform:uppercase;  
}
#adventure-container .desc {
  display: block;
  padding: 10px;
}
.bgcolor {
  background-color: #fff;
}



body {
  background: black;
}


#description header {
  font-size: 25px;
  font-style: bold;
  text-align: center;
}

#description {
  margin-top: 1%;
  padding: 1% 2%;
  font-size: 20px;
  background-color: $fillColor;
  font-family: 'Raleway', sans-serif;
  border: 8px double $textColor;
  height: 350px;
  float:left;
  width: 58%;
  color: $textColor;
  border-radius: 9px;
}

#adventure_map img{
  margin-top: 1%;
  margin-left:1%;
  border: 1px solid white;
  height: 350px;
  width: 38%;
  border-radius: 9px;
  float:right;

}

div.show_images {
  margin-top: 30px;
  width: 100%;
  border: 2px solid white;
  clear: both;
  border-radius:10px;
}

#adventure_images {
  width:100;
  margin:0;
  padding:0;
}
.smallimage {
  width:auto;
  height:150px;
  
}

#main_image {

  width:100%;
  height: auto;  // border: 2px solid white;
  clear: both;
  border-radius: 10px;
}

#adventure_images {
  width:100;
  margin:0;
  padding:0;
}
.smallimage {
  position: static;
  top:0;
  width:236px;
  height:236px;
  padding:auto;
  border-radius: 10px;
  margin-top: 8px;
}

#main_image {
  position: static;
  border-radius: 10px;
  height: 600px;
  width: 1200px;
}

.filters{
  display: inline-block;
  position: absolute;
  top: 20px;
  right:3%;
  margin: 5px;
  width: 30%;
}
select {
  float:right;
  color: $fillColor;
  background-color: black;
  font-size: 18px;
  right:10px;
  width:50%;
}
#embark a{
  position:relative;
  font-size: 65px;
  font-weight: bold;
  color: $fillColor;
  width: 100%;
  height: 70px;
  margin: 0px auto;
  margin-top:5px;
  margin-left:5px;
  text-decoration: none;
}

#description_title {
  width: 100%;
  margin-right: 5%;
  text-align: right;
  color: $textColor;
  font-family: Helvetica;
  font-size: 34px;
}

#description_title p:hover {
  padding: 1%;
}
#adventureDescription {
  width: 1200px;
  margin: 0 auto;
}
