$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c9bf;
$textColor:rgba(116, 201, 148, 0.84);
$errorColor:red;
$font:'Raleway', sans-serif;

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.75; 
  filter: alpha(opacity=85); 
}



body { 
  background-color: #231f20;
  //overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

#adventuresPage {
  margin-top: -100px;
  background-color: white;
  overflow-x: hidden;
}



#tagline {
    background-color: $backgroundColor;
    position:absolute;
    top:0px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 350px;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    font-size: 40px;
    letter-spacing: .1em;
    color: #231f20; 
}

#gallery {
    width: 100%;
    padding-top: 600px;
    margin: 0 auto;
    text-align: center;
}

.image {
   margin-top: 40px;
   display: inline-block;
   margin: 0 auto;
}

.embark{
    //  text-align: center;
    // position: relative;
    // margin-top: -10px;
    font-family: $font;
    font-size: 30px;
    letter-spacing: .3em;
    color: #74c9bf; 
}

#description header {
  font-size: 25px;
  font-style: bold;
  text-align: center;
}

#description {
  margin-top: 1%;
  padding: 1% 2%;
  font-size: 20px;
  background-color: $fillColor;
  font-family: $font;
  border: 8px double $textColor;
  height: 350px;
  float:left;
  width: 58%;
  color: $textColor;
  border-radius: 9px;
}

#adventure_map img{
  margin-top: 1%;
  margin-left:1%;
  height: 350px;
  width: 38%;
  border-radius: 9px;
  float:right;
}

div.show_images {
  margin-top: 30px;
  width: 100%;
  clear: both;
  border-radius: 10px;
}
#back {
  font-size: 20px;
  text-decoration: none;
  color: $fillColor;
  float: right;
}

.smallimage {
  position: static;
  top:0;
  width:236px;
  height:236px;
  padding:auto;
  border-radius: 10px;
  margin-top: 8px;
}

#main_image {
  position: static;
  border-radius: 10px;
  height: auto;
  width: 1200px;
}

// select {
//   float:right;
//   color: $fillColor;
//   background-color: black;
//   font-size: 18px;
//   right:10px;
//   width:50%;
// }
#adventuresTop {
    width: 100%;
    border: 3px solid white;
    margin-bottom: 15px;
}

#adventuresTop button{
  border: 2px solid $borderColor;
  height: 80%;
  font-family: $font;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: $textColor;
  text-transform: uppercase;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-family: $font;
  background-color: white;
  margin-right:30px;
  float: right;
  margin-top: 800px;
}

#adventuresTop .filterOptions {
  border-top: 2px solid $borderColor;
  width: 100%;
  height: 50px;
  margin-top: 1%;
  display:none;
}
#adventuresTop .filterOptions select{
  margin-right: 15px;
  width: 45%;
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 25px;
  font-family: $font;
}
#adventuresTop .filterOptions form {
  display: inline-block;
  text-align: center;
  float:right;
  width: 55%;
  margin-top: 1%;
}
.filterOptions #filterLocation{
  margin-top: 10px;
  left: 40px;
  display:inline-block;
  width: 35%;
}
.filterOptions #filterLocation a{
  text-decoration: none;
  font-family: $font;
  background-color: $backgroundColor;
  border: 2px solid $borderColor;
  color: $textColor;
  border-radius: 5px;
  font-size: 23px;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 1%;
  width: 25%;
}
#adventuresTop button:hover, #adventuresTop .filterOptions select:hover, .filterOptions #filterLocation a:hover{
  background-color: $fillColor;
  color: $backgroundColor;
}
#adventuresTitle a{
  margin-top: 5px;
  text-align: center;
  font-family: $font;
  letter-spacing: 0.3em;
  position:relative;
  font-size: 65px;
  color: $textColor;
  text-decoration: none;
}
#adventuresTitle {
  display: inline;
}

#description_title {
  width: 100%;
  margin-right: 5%;
  text-align: right;
  color: $textColor;
  font-family: Helvetica;
  font-size: 34px;
}

#description_title p:hover {
  padding: 1%;
}
#adventureDescription {
  width: 1200px;
  margin: 0 auto;
}
.adventure_info {
  padding-bottom: 20px;

}
@media (max-width: 1900px) {
  img {height: 290px;width: auto;}
  #adventuresTop button{ width: 250px; height: 50px;font-size: 40px;} 
  #adventuresTitle a{ font-size:65px; letter-spacing: 0.3em; }
}
@media (max-width: 1500px) {
  img {height: 250px;width: auto;}
  #adventuresTop button{ width: 220px; height: 40px;font-size: 30px;} 
  #adventuresTitle a{ font-size:55px; letter-spacing: 0.2em; }
}
@media (max-width: 1400px) {
  img {height: 210px;width: auto;}
}
@media (max-width: 1200px) {
  img {height: 180px;width: auto;}
  #adventuresTop button { width: 180px; height: 35px;font-size: 28px;} 
  #adventuresTitle a { font-size:45px; letter-spacing: 0.1em; }
}
@media (max-width: 1000px) {
  img {height: 150px;width: auto;}
  #adventuresTop button{ width: 140px; height: 30px;font-size: 25px;} 
  #adventuresTitle a{ font-size:40px; letter-spacing: 0.1em; }
}
@media (max-width: 800px) {
  img {height: 120px;width: auto;}
  #adventuresTop button{ display:none;} 
  #adventuresTitle a{ font-size:30px; letter-spacing: 0.1em; }
}
@media (max-width: 600px) {
  img {height: 100px;width: auto;}
  #adventuresTop button{ display:none;} 
  #adventuresTitle a{ font-size:25px; letter-spacing: 0.1em; }
}
