$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c994;
$textColor:rgba(116, 201, 148, 0.84);
$errorColor:red;
$font:'Raleway', sans-serif;

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.75; 
  filter: alpha(opacity=85); 
}

body { 
  background-color: #231f20;
  //overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

#adventuresPage {
  margin-top: -100px;
  background-color: $backgroundColor;
  overflow-x: hidden;
}

#tagline {
    background-color: $backgroundColor;
    top:0px;
    width: 100%;
    padding: 25% 0;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    font-size: 40px;
    letter-spacing: .1em;
    color: #231f20; 
    position: relative;
    z-index: 0;
    height: 30%;
}

@font-face {
    font-family: 'icon-worksregular';
    src: url('icon-works-webfont.eot');
    src: url('icon-works-webfont.eot?#iefix') format('embedded-opentype'),
         url('icon-works-webfont.woff') format('woff'),
         url('icon-works-webfont.ttf') format('truetype'),
         url('icon-works-webfont.svg#icon-worksregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#compass {
  height: 65px;
  text-align: center;
  font-family: 'icon-worksregular';
  font-size: 60px;
  color: #252525;
  padding: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  top: -100px;
  padding-top: 1%;
  padding-bottom: 20%
}

#compass a:hover {
  cursor: pointer;
}

#adventurePage #gallery {
   line-height: 0;
    position: relative;
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
   
}
#gallery img {
  margin-top: 5px;
  width: 100%;
  height: auto;
}
#header a {
  font-family: $font;
    font-size: 30px;
    letter-spacing: .3em;
    color: $fillColor;
}
///////////NAV BAR///////////////
#adventurePage .mid-cont {}
#adventurePage .mid-cont .embark {}
#adventurePage .mid-cont .hamburger {}

#adventuresPage button{
  height: 100%;
  font-family: $font;
  font-size: 1px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $backgroundColor;
  text-transform: uppercase;
  text-align: center;
  -webkit-appearance: none;
  font-family: $font;
  background-color: #74c994;
  margin-right:8em;
  float: right;
  //background: none transparent; 
  border: none; 
}

#adventuresPage button:hover{
     background: #74c9bf;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}


#adventuresPage .filterOptions {
  border-top: 2px solid $borderColor;
  width: 100%;
  height: 50px;
  margin-top: 1%;
  display:none;
}

#adventuresPage .filterOptions select{
  margin-right: 15px;
  width: 45%;
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 25px;
  font-family: $font;
}

#adventuresPage .filterOptions form {
  display: inline-block;
  text-align: center;
  float:right;
  width: 55%;
  margin-top: 1%;
}

.filterOptions #filterLocation{
  margin-top: 10px;
  left: 40px;
  display:inline-block;
  width: 35%;
}
.filterOptions #filterLocation a{
  text-decoration: none;
  font-family: $font;
  background-color: $backgroundColor;
  border: 2px solid $borderColor;
  color: $textColor;
  border-radius: 5px;
  font-size: 23px;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 1%;
  width: 25%;
}
// #adventuresPage button:hover, #adventuresPage .filterOptions select:hover, .filterOptions #filterLocation a:hover{
//   background-color: $fillColor;
//   color: $backgroundColor;
// }
#adventuresTitle a{
  margin-top: 5px;
  text-align: center;
  font-family: $font;
  letter-spacing: 0.3em;
  position:relative;
  font-size: 65px;
  color: $textColor;
  text-decoration: none;
}
#adventuresTitle {
  display: inline;
}

#description_title {
  width: 100%;
  margin-right: 5%;
  text-align: right;
  color: $textColor;
  font-family: Helvetica;
  font-size: 34px;
}

#description_title p:hover {
  padding: 1%;
}
#adventureDescription {
  width: 1200px;
  margin: 0 auto;
}
.adventure_info {
  padding-bottom: 20px;

}
@media (max-width: 1900px) {
  #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  img {height: 290px;width: auto;}
  #adventuresPage button{ width: 155px; height: 50px;font-size: 14px;} 
  #adventuresTitle a{ font-size:65px; letter-spacing: 0.3em; }
}
@media (max-width: 1500px) {
  #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  img {height: 250px;width: auto;}
  #adventuresPage button{ width: 125px; height: 40px;font-size: 12px;} 
  #adventuresTitle a{ font-size:55px; letter-spacing: 0.2em; }
}
@media (max-width: 1200px) {
  #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  img {height: 180px; width: auto;}
  #adventuresPage button { width: 85px; height: 35px;font-size: 10px;} 
  #adventuresTitle a { font-size:45px; letter-spacing: 0.1em; }
}
@media (max-width: 1000px) {
  #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
  img {height: 150px;width: auto;}
  #adventuresPage button{ width: 45px; height: 30px;font-size: 8px;} 
  #adventuresTitle a{ font-size:40px; letter-spacing: 0.1em; }
}
@media (max-width: 700px) {
  img {height: 120px;width: auto;}
  #adventuresPage button{ display:none;} 
  #adventuresTitle a{ font-size:30px; letter-spacing: 0.1em; }
}
@media (max-width: 600px) {

  img {height: 180px;width: auto;}

  #adventuresPage button{ display:none;} 
  #adventuresTitle a{ font-size:25px; letter-spacing: 0.1em; }
}
