$backgroundColor:black;
$borderColor:#eee;
$fillColor:#FFEFD5;
$textColor:#000000;
$errorColor:red;
* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.75; 
  filter: alpha(opacity=85); 
}
body { 
  background-color:$backgroundColor; 
  color:$fillColor;
}
#adventure-container { 
  max-width: 100%; 
  margin:auto;
  display: inline-block;
}
#adventure-container figure {
  position: relative;
  overflow: hidden;
  border:2px solid $fillColor;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#adventure-container .small {
  float: left;
  width: 31%;
  height: 300px;
  margin: 5px;
}
#adventure-container figure img {
  width: 100%;
  float: left;
  height: 100%;
}
#adventure-container figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}
#adventure-container .text {
  color: #7A8B8B;
  background-color: black;
  font-size:0.90em;
}
#adventure-container figure:hover figcaption { max-height: 100%;}
#adventure-container figure:hover figcaption .text {
  background-color: black;
  color:#fff;
}
#adventure-container figcaption a { display: block; text-decoration:none; }
#adventure-container .title {
  display: inline-block;
  padding: 5px;
  text-transform:uppercase;  
}
#adventure-container .desc {
  display: block;
  padding: 10px;
}
.bgcolor {
  background-color: #fff;
}




