$backgorundColor:#eee;
$borderColor:#eee;
$errorColor:#eee;
$backgorundColor:#eee;

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.75; 
  filter: alpha(opacity=85); 
}
body { 
  background-color:black; 
  color:#eee;
}
#adventure-container { 
  max-width: 100%; 
  margin:auto;
  display: inline-block;
}
#adventure-container figure {
  position: relative;
  overflow: hidden;
  border:2px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#adventure-container .small {
  float: left;
  width: 31%;
  height: 300px;
  margin: 5px;
}
#adventure-container figure img {
  width: 100%;
  float: left;
  height: 100%;
}
#adventure-container figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}
#adventure-container .text {
  color: #7A8B8B;
  background-color: black;
  font-size:0.90em;
}
#adventure-container figure:hover figcaption { max-height: 100%;}
#adventure-container figure:hover figcaption .text {
  background-color: black;
  color:#fff;
}
#adventure-container figcaption a { display: block; text-decoration:none; }
#adventure-container .title {
  display: inline-block;
  padding: 5px;
  text-transform:uppercase;  
}
#adventure-container .desc {
  display: block;
  padding: 10px;
}
.bgcolor {
  background-color: #fff;
}



body {
  background: black;
}

#description {
  margin: 1%;
  padding: 1% 2%;
  font-size: 18px;
  background: #444;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, Verdana;
  border: 1px solid white;
  height: 350px;
  float:left;
  width: 65%;
  color: white;
  border-radius: 15px;
}

#adventure_map {
  margin-top: 1%;
  border: 1px solid white;
  height: 350px;
  float: right;
  width: 33%;
  color: white;
}

#gallery {
  margin: 2% auto; 
  list-style-type:none; 
  overflow:hidden; 
  height:540px; 
  width:900px;
  background: #000 url(http://images5.alphacoders.com/293/293505.jpg);
}
#gallery li {
  float:right;
  display:block;
  border: 1px solid white;
}
#gallery li a {
  display:block;
  width:60px;
  height:540px; 
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#gallery li a img {
  background: #fff;
  padding: 5%;
  height:540px; 
  width:60px; 
  border:0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#gallery li a:hover {
  background:#eee; 
  width:478px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#gallery li a:hover img {
  width:478px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.filters{
  display: inline-block;
  position: absolute;
  top: 20px;
  right:3%;
  margin: 5px;
  width: 30%;
}
select {
  float:right;
  color: #66FFFF;
  background-color: black;
  font-size: 18px;
  right:10px;
  width:50%;
}
#embark a{
  position:relative;
  font-size: 50px;
  color: #66FFFF;
  width: 100%;
  height: 70px;
  margin: 0px auto;
  margin-top:15px;
  margin-left:15px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
}

#description_title {
  width: 100%;
  margin-right: 5%;
  text-align: right;
  color: #33CCFF;
  font-family: Helvetica;
  font-size: 34px;
}

#description_title p:hover {
  padding: 1%;
}