$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);;
$fillColor:#74c9bf;
$textColor:rgba(116, 201, 148, 0.84);;
$errorColor:red;
$font:'Raleway', sans-serif;

#embark {
    margin-top: 120px;
    font-weight:bold;
    text-align: center;
    font-family: $font;
    font-size: 100px;
    letter-spacing: 0.3em;
    color: $fillColor;
}

#home #background {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
}
#home #blurdiv {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}

#home #background img {
    height: 100%;
    width:100%;
}


#home a:hover{
     background: $fillColor;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}


#home a {
    border: 2px solid $backgroundColor;
    width: 300px;
    height: 50px;
    font-family: $font;
    font-size: 40px;
    display: block;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border-radius: 5px;
    opacity: 0;
    color: $backgroundColor;
    min-width: 290px;
    text-transform: uppercase;
    font-size: 26px;
    line-height : 45px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-family: $font;
    opacity: 0.2;
    background-color: $textColor;
}


#home #logo {
    text-align: center;
    position: relative;
    margin-top: -10px;
    font-family: $font;
    font-size: 30px;
    letter-spacing: .3em;
    color: $backgroundColor; 
    opacity: 0;
}


#search{
    margin-top: 40px;
}
