body {
	color: red;
	background-color: black;
}
#background {
	position: fixed;
	height: 100%;
	width:100%;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0;
}
#background img{
	height: 100%;
	width:100%;
}
#search {
	margin: 0px auto;
	width: 400px;
}

#search a {
	margin: 0px auto;
	margin-top: 30px;
	padding: 3px;
	height: 30px;
	width: 250px;
	display: block;
	
	text-decoration: none;

	font-size: 18px;


	box-shadow: inset 0px 1px 0px 0px white;
	background-color: black;

	border-top-left-radius: 300px;
	border-top-right-radius: 300px;
	border-bottom-right-radius: 300px;
	border-bottom-left-radius: 300px;
	border: none;
	

	color: #66FFFF;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
#search a:hover {
	background-color:#f2ab1e;
}

#logo {
	text-shadow:-6px 6px black, 0px 0px black, 1px -1px black, 0px 0px black;
	font-size: 130px;
	color: #66FFFF;
	width: 800px;
	margin: 0px auto;
	margin-top:50px;

	text-align:center;
}