$backgorundColor:#000000;
$borderColor:#eee;
$fillColor:#FFEFD5;
$textColor:#000000;
$errorColor:red;

#embark {
    margin-top: 100px;
    font-weight:bold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    letter-spacing: 0.3em;
    color: $fillColor;
}

#home #background {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
}
#home #blurdiv {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}
#home #background img {
    height: 100%;
    width:100%;
}

#home a:hover{
     background: #74c9bf;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}


#home a {
    border: 4px solid #231f20;
    width: 300px;
    height: 50px;
    font-size: 40px;
    display: block;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border-radius: 5px;
    opacity: 0;
    color: $fillColor;
    min-width: 290px;
    text-transform: uppercase;
    font-size: 26px;
    line-height : 45px;
    border-color: $fillColor;
    border-width: 2px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-family: 'Raleway', sans-serif;
    opacity: 0.2;
    background-color: rgba(116, 201, 148, 0.84);
}


#home #logo {
    font-weight:bold;
    text-align: center;
    position: relative;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    letter-spacing: 0.3em;
    color: $fillColor; 
    opacity: 0;
}

#search{
    margin-top: 60px;
}

