body {
	color: red;
	background-color: black;
}
#background {
	position: fixed;
	height: 100%;
	width:100%;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0;
}
#background img{
	height: 100%;
	width:100%;
}
a.button{
	text-align: center;
	border-radius: 13px;
	padding: 8px 22px;
	display: block;
	background: #00FFFF;
	font-family: arial;
	font-weight: bold;
	color:#7f7f7f;
	text-decoration: none;
	text-shadow:0px 1px 0px #fff;
	border:1px solid #a7a7a7;
	width: 250px;
	margin-left: 15%;
	margin-top:100px;
	box-shadow: 0px 2px 1px #222, 
	0px -2px 8px white, 
	0px 2px 5px rgba(0, 0, 0, 0.1), 
	0px 8px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition:box-shadow 0.5s;
}
a.button i{
	float: right;
	margin-top: 2px;
}
a.button:hover{
	box-shadow: 0px 2px 1px #bbb, 
	0px -2px 20px white;
}
a.button:active{
	background:-webkit-linear-gradient(top, #47B2B2 0%,#85FFFF 100%);
}

#logo {
	margin-left: 15%;
	margin-top: 10%;
}