$whiteColor:#fcfbe4;
$backgroundColor:#231f20;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c994;
$textColor:rgba(116, 201, 148, 0.84);
$blue:#74c9bf;
$font:'Raleway', sans-serif;


#hamburger {
    background-color: red;
}

#embark {
    margin-top: 120px;
    // font-weight:bold;
    text-align: center;
    font-family: $font;
    font-size: 130px;
    letter-spacing: 0.3em;
    color: $whiteColor;
}


#home #background {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
}

#home #blurdiv {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}

#home #background video{
    margin: 0 auto;
    width: auto;
    height: 100%;
    position: fixed;
}

#home a:hover{
     background: $blue;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}

// #home a:active {
//     text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
//     box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
// }


#home  a {
   // border 2px solid $whiteColor;
    width: 280px;
    height: 70px;
    padding-top: 10px;
    display: block;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    background: transparent;
    opacity: 0;
    color: $whiteColor;
    font-size: 30px;
    line-height : 45px;
    text-align: center;
    font-family: $font;
    opacity: 0.2;
    background-color: $textColor;
}


#home #logo {
    text-align: center;
    position: relative;
    margin-top: -10px;
    font-family: $font;
    font-size: 30px;
    letter-spacing: .3em;
    color: $whiteColor; 
    opacity: 0;
}
.homepage {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
}

#search{
    margin-top: 40px;
}


#search img {
    width: 4%;
    height: 6%;
    display: block;
    position: fixed;
    margin-left: 47%;
    margin-right: auto;
    }

@media (max-width: 1000px) {
    #embark {
        font-size: 110px;
    }
    #home #logo {
        font-size: 27px;
    }
    #home a {
        height:60px;
        width:220px;
        font-size:26px;
        line-height : 30px;
    }
}
@media (max-width: 800px) {
    #embark {
        font-size: 90px;
     }
     #home #logo {
        font-size: 25px;
    }
    #home a {
        height:45px;
        width:220px;
        font-size:26px;
        line-height : 30px;
    }
}
@media (max-width: 600px) {
    #embark {
        font-size: 47px;
    }
     #home #logo {
        font-size: 18px;
    }
    #home a {
        height:33px;
        width:145px;
        font-size:20px;
        line-height : 9px;
    }
    #home #background video {
        display:none;
    }
}
