$backgorundColor:#000000;
$borderColor:#eee;
$fillColor:#FFEFD5;
$textColor:#000000;
$errorColor:red;

#home #background {
	position: fixed;
	height: 100%;
	width:100%;
	left: 0;
	top: 0;
	z-index: -2;
	opacity: 0;
}
#home #blurdiv {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}
#home #background img {
	height: 100%;
	width:100%;
}

#home a {
    width: 400px;
    height: 50px;
    font-size: 40px;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    background-color: $fillColor;
    color: $textColor;
    border-radius: 5px;
    opacity: 0;
}


#home #logo {
	font-weight:bold;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 200px;
    letter-spacing: 0.3em;
    color: $fillColor; 
    opacity: 0;
}
