$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);;
$fillColor:#74c9bf;
$textColor:rgba(116, 201, 148, 0.84);;
$errorColor:red;
$font:'Raleway', sans-serif;

@media (max-width: 1000px) {
    div#header {
         background-color: black;
    }
}

div#hamburger {
    color: $backgroundColor;
}
#embark {
    margin-top: 110px;
    font-weight:bold;
    text-align: center;
    font-family: $font;
    font-size: 130px;
    letter-spacing: 0.3em;
    color: $backgroundColor;
}


#home #background {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
}
#home #blurdiv {
    position: fixed;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}

#home #background video{
    height: 100%;
    width: 100%;
    position: fixed;
}

#home a:hover{
     background: $fillColor;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
}

// #home a:active {
//     text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
//     box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
// }


#home a {
   // border: 2px solid $backgroundColor;
    width: 320px;
    height: 60px;
    font-family: $font;
    display: block;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border-radius: 5px;
    opacity: 0;
    color: $backgroundColor;
    min-width: 270px;
    text-transform: uppercase;
    font-size: 34px;
    line-height : 45px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-family: $font;
    opacity: 0.2;
    background-color: $textColor;
    padding-top: 8px;


}


#home #logo {
    text-align: center;
    position: relative;
    font-family: $font;
    top: -30px;
    font-size: 37px;
    letter-spacing: .3em;
    color: $backgroundColor; 
    opacity: 0;
}
.homepage {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
}

#search{
    top: 100px;
}

// @media (max-width: 1900px) {
// img {height: 290px;width: auto;}
//   #adventuresPage button{ width: 155px; height: 50px;font-size: 14px;} 
//   #adventuresTitle a{ font-size:65px; letter-spacing: 0.3em; }
// }
// @media (max-width: 1500px) {
//   img {height: 250px;width: auto;}
//   #adventuresPage button{ width: 125px; height: 40px;font-size: 12px;} 
//   #adventuresTitle a{ font-size:55px; letter-spacing: 0.2em; }
// }
