$backgroundColor:#fcfbe4;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c994;
$textColor:rgba(116, 201, 148, 0.84);
$errorColor:red;
$font:'Raleway', sans-serif;
.text {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: auto 0;
	font-size: 1em;
}

#loginform {
	font: $font;
	border-radius: 5px;
	position: fixed;
	top: 200px;
	max-width: 600px;
	left: 50%;
	padding: 30px;
	margin-left: -300px;
	z-index: 5;
	background-color: $backgroundColor;
}
#loginform input, #signupform input {
	width: 80%;
	margin: 5px 10%;
	font-size: 1em;
	text-align: center;
	border-radius: 5px;
}
.buttons {
	@extend .text;
	position: relative;
	display: inline-block;
	height: 59px;
	border-radius: 5px;
	border: solid #231f20 2px;

}
#signupButton {
	@extend .buttons;
	@extend .text;
	padding-top: 15px;
	font-weight: bold;
	width: 45%;
	margin-left: 10%;
	float: left;
}
#loginButton {
	@extend .buttons;
	@extend .text;
	padding-top: 15px;
	font-weight: bold;
	width: 45%;
	margin-left: 10%;
	float: left;
}
#backButton {
	@extend .buttons;
	@extend .text;
	padding-top: 15px;
	font-weight: bold;
	width: 30%;
	float: right;
	margin-right: 10%
}
#signupform {
	border-radius: 5px;
	position: fixed;
	top: 200px;
	max-width: 600px;
	left: 50%;
	padding: 30px;
	margin-left: -300px;
	z-index: 5;
	background-color: $backgroundColor;
}
#back {
	position: fixed;
	background-color: #231f20;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
}