$white:#fcfbe4;
$green:rgba(116, 201, 148, 0.84);
$green:#74c994;
$green:rgba(116, 201, 148, 0.84);
$errorColor:red;
$font:'Raleway', sans-serif;

#nav {
	height: auto;
	top: -380px;
}
#nav .mid-cont .close {
	display: none;
}
#nav .mid-cont li{
	display: none;
}
#nav .mid-cont li{
	display: none;
}

#header .mid-cont .embark{
	background-position: 0px -18px;
	font-family: $font;
	font-size: 30px;
	letter-spacing: .3em;
	color: $green;
	z-index: 4;
}
#header .mid-cont .hamburger{
	background-position: 0px -28px;
}

#header {position:fixed; top:0; width:100%; padding:35px 0; z-index:1; }
.logo {margin-top:5px; background:url(../images/logos.png) no-repeat; width:172px; height:17px;}
#header .hamburger {background:url(http://cobblehilldigital.com/wp-content/themes/cobblehill/images/hamburger-icon.png) no-repeat; width:36px; height:27px; float:right;margin-right: 40px;}
#nav .logo {background-position:0 -18px;}
#header.scrolled {background:#231f20; padding:20px; margin-left: -8px;}
#header.scrolled .logo {margin-top:4px;}
#nav .close {background:url(../images/white-x.png) no-repeat; width:29px; height:28px;}
#nav {background:#231f20; position:fixed; width:100%; top:-380px; z-index:2; padding:40px 0 0 0;}
#nav li {float:left; width:20%;}
#nav li a {font-size:16px; text-transform:uppercase; color:#fff; padding-bottom:10px; }
#nav li a:hover {border-bottom:2px solid #fff; }
#menu-main-nav {width:100%; padding:85px 0 0 0; height:255px;}
#nav li a .sub {font-size:14px; font-family: 'roboto_slabregular'; text-transform:none; font-weight:normal; letter-spacing:1px; border:none; opacity:0; filter:alpha(opacity=0); float:left; width:100%;  padding:30px 0 0 0; margin-top:10px; background:url(../images/nav-hover.png) no-repeat top center;}
#nav li a:hover .sub {opacity:1; filter:alpha(opacity=100);}
