$backgroundColor:#fcfbe4;
$borderColor: #74C994;
$fillColor:#74c9bf;
$textColor: #74C994;
$errorColor:red;
$font:'Raleway', sans-serif;


#userPage input {
  font-size: 25px;
  width: 25%;
  min-width: 200px;
  text-align: center;
  color: $textColor;
  font-family: $font;
  background-color: $backgroundColor;
  border: 2px solid $textColor;
  padding: 5px;
  margin-left: 40%;
  margin-top: 50px;

}
#userPage #adventureForm {
  height: 760px;
  width: 90%;
}
#userPage #adventureForm h1 {
  font-size: 35px;
  letter-spacing: .1em;
  color: $textColor;
  font-family: $font;
  margin-left: 3%;
}
#userPage #adventureForm form {
  margin-right: 3px;
  color: $textColor;
  font-size: 27px;
  font-family: $font;
  margin-left: 5%;
}
#userPage #adventureForm p{
  margin: 5px;
  float:right;
  width: 100%;
}
#userPage #adventureForm input {
  float: right;
  width: 65%;
}
#userPage #adventureForm #descriptionBox textarea{
  border: 2px solid $textColor;
  font-family: $font;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: $textColor;
  background-color: $backgroundColor;
  height: 120px;
  wrap: hard;
  float: right;
  width: 65%;
}
#userPage #adventureForm .submit input {
  width: 25%;
}
#userPage input:hover, #userPage #user_adventures #beInspired a:hover, #userPage button:hover {
  background-color: $fillColor;
  color: $backgroundColor;
}

#userPage #user_adventures h3{
  font-family: $font;
  margin-top: 300px;
  margin-left: 50px;
  line-height: 3em;
  text-align: center;
}

#userPage #user_adventures #beInspired a{
  border: 2px solid $textColor;
  padding: 5px;
}
