$whiteColor:#fcfbe4;
$backgroundColor:#231f20;
$borderColor:rgba(116, 201, 148, 0.84);
$fillColor:#74c994;
$textColor:rgba(116, 201, 148, 0.84);
$font:'Raleway', sans-serif;

#addAdventure {
  text-align: center;
    display:block;
    margin:0 auto;
}
input {
  font-size: 20px;
  width: 25%;
  min-width: 230px;
  text-align: center;
  color: $textColor;
  font-family: $font;
  background-color: $whiteColor;
  border: 2px solid $textColor;
  padding: 5px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 50px;
  display:inline-block;
  cursor: default;
  position:relative;
  margin-left: 0 auto;
  margin-right: 0 auto;
}


#userPage input {
  font-size: 20px;
  width: 25%;
  min-width: 230px;
  text-align: center;
  color: $textColor;
  font-family: $font;
  background-color: $whiteColor;
  border: 2px solid $textColor;
  padding: 5px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 50px;
  display:inline-block;
  cursor: default;
  position:relative;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#usersFavorites {
  margin-top: 20%;
  h1{
    text-align: center;
    border: 2px solid $textColor;
    padding: 5px;
    color: $textColor;
  }
}
.user_adventure {
  text-align: center;
  font: $font;
  color: $borderColor;
  font-size: 25px;
  margin-top: 3%;
}

#userPage #adventureForm {
  height: 760px;
  width: 80%;
}
#userPage #adventureForm h1 {
  font-size: 35px;
  letter-spacing: .1em;
  color: $textColor;
  font-family: $font;
  margin-left: 3%;
}
#userPage #adventureForm form {
  margin-right: 3px;
  color: $textColor;
  font-size: 27px;
  font-family: $font;
  margin-left: 5%;
}
#userPage #adventureForm p{
  margin: 5px;
  float:left;
  font-size: 18px;
  width:40%;
}
#userPage #adventureForm input {
  float: left;
  width: 55%;
  margin:0;
}
#userPage #adventureForm #descriptionBox textarea{
  border: 2px solid $textColor;
  font-family: $font;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: $textColor;
  background-color: $whiteColor;
  height: 120px;
  wrap: hard;
  float: left;
  width: 55%;
}
#userPage #adventureForm .submit input {
  width: 25%;
  margin-top: 5px;
  margin-left: 20px;
  float:left;
}
#favorite_button:hover, #category_filter select:hover, a #inspirationbutton:hover , #userPage input:hover, #userPage #user_adventures #beInspired a:hover, #userPage button:hover {
  background-color: $fillColor;
  color: $whiteColor;
}

#userPage #user_adventures h3{
  font-family: $font;
  margin-top: 300px;
  margin-left: 50px;
  line-height: 3em;
  text-align: center;
}

#userPage #user_adventures #beInspired a{
  border: 2px solid $textColor;
  padding: 5px;
  color: $textColor;
}